body{
font-family:Arial;
width:350px;
margin:auto;
}

label{
display:block;
margin-top:10px;
}

input{
width:100%;
padding:5px;
}

.error{
color:red;
font-size:13px;
}
input[type="radio"],
input[type="checkbox"]{
width:auto;
}

.gender-group{
display:flex;
gap:10px;
margin-top:2px;
}

.terms-group{
display:flex;
align-items:center;
gap:5px;
margin-top:10px;
}
#nameCount{
font-size:12px;
text-align:right;
}

.password-box{
display:flex;
}

.password-box input{
flex:1;
}

.password-box button{
width:40px;
}

#strengthBar{
height:8px;
background:#ddd;
margin-top:5px;
}

#strength{
height:100%;
width:0%;
}

.weak{
background:red;
}

.medium{
background:orange;
}

.strong{
background:green;
}